h1 {color:rgb(19, 34, 84)}

img {max-width: 300px}
p{font-family: 'Times New Roman', Times, serif;font-style: normal;}
body{background-color:lightblue;}

<html>
<head>
<style>
.center{
    text-align: center;
}
</style>
</head>
<body>

<div class="center">